---
layout: default
<!-- prism: true -->
---

<div class="resources-hero d-flex">
    <div class="container align-self-center">
        <h1>Technical Blog</h1>
    </div>
</div>

<div class="container mt-5 mb-5 px-6">

    <div style="padding: 0 1.5em" class="row">
        <div class="col-lg-9">

            <div style="padding: 0 1.5em" class="content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/blog">Technical Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>

                    </ol>
                  </nav>
                    <h1 class="blog-title font-bold text-3xl text-gray-900 mb-2">{{title}}</h1>
                    <img style="width: 100%" class="mt-4 mb-4" src="{{featimg}}">
                    <!-- <p class="text-center text-base  text-gray-500">
                        <time> {{ date | readableDate }}
                            by
                            <a>{{ author }}</a>

                        </time>
                    </p> -->

                
                <article class="lg:prose-xl my-4 mx-auto">
                    {{ content | safe }}
                </article>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div style="background-color: #ebebeb; color: #d2d2d2; padding: 1em;" class="sidebar">
                <h4 style="padding: 0 0.4em; border-color: #d2d2d2; color: #6c757d">Subscribe To Our Newsletter</h4>

    <iframe
    id="JotFormIFrame-210275968540157"
    title="DTP Newsletter Signup Webpage"
    onload="window.parent.scrollTo(0,0)"
    allowtransparency="true"
    allowfullscreen="true"
    allow="geolocation; microphone; camera"
    src="https://form.jotform.com/210275968540157"
    frameborder="0"
    style="
    
    min-width: 100%;
    height:539px;
    border:none;"
    scrolling="no"
  >
  </iframe>
  <script type="text/javascript">
    var ifr = document.getElementById("JotFormIFrame-210275968540157");
    if (ifr) {
      var src = ifr.src;
      var iframeParams = [];
      if (window.location.href && window.location.href.indexOf("?") > -1) {
        iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
      }
      if (src && src.indexOf("?") > -1) {
        iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
        src = src.substr(0, src.indexOf("?"))
      }
      iframeParams.push("isIframeEmbed=1");
      ifr.src = src + "?" + iframeParams.join('&');
    }
    window.handleIFrameMessage = function(e) {
      if (typeof e.data === 'object') { return; }
      var args = e.data.split(":");
      if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
      if (!iframe) { return; }
      switch (args[0]) {
        case "scrollIntoView":
          iframe.scrollIntoView();
          break;
        case "setHeight":
          iframe.style.height = args[1] + "px";
          break;
        case "collapseErrorPage":
          if (iframe.clientHeight > window.innerHeight) {
            iframe.style.height = window.innerHeight + "px";
          }
          break;
        case "reloadPage":
          window.location.reload();
          break;
        case "loadScript":
          var src = args[1];
          if (args.length > 3) {
              src = args[1] + ':' + args[2];
          }
          var script = document.createElement('script');
          script.src = src;
          script.type = 'text/javascript';
          document.body.appendChild(script);
          break;
        case "exitFullscreen":
          if      (window.document.exitFullscreen)        window.document.exitFullscreen();
          else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
          else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
          else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
          else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
          break;
      }
      var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
      if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
        var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
        iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
      }
    };
    if (window.addEventListener) {
      window.addEventListener("message", handleIFrameMessage, false);
    } else if (window.attachEvent) {
      window.attachEvent("onmessage", handleIFrameMessage);
    }
    </script>
                <hr>
                <h4 style="padding: 0 0.4em; border-color: #e7e7e7; color: #6c757d" class="border-b pb-2 mb-2 mt-2">Recent Posts</h4>
                {% set postslist = collections.post %}

                
            
                {% for post in postslist | reverse %}
                    
                        <h5 style="padding: 0 0.4em;" class="font-bold text-gray-900 mb-3">
                            <a href="{{ post.url | url }}">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </a>
                        </h5>
                        
                        
            
                  
                {% endfor %}
            </div>
        </div>
    </div>
</div>




