---
layout: default
<!-- prism: true -->
---

<div class="resources-hero d-flex">
    <div class="container align-self-center">
        <h2>Press Releases</h2>
    </div>
</div>

<div class="container mt-5 mb-5 px-6">

    <div class="row">
        <div class="col-lg-9">

            <div style="padding: 0 1.5em" class="content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/press-releases">Press Releases</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>

                    </ol>
                  </nav>
                    <h1 class="blog-title font-bold text-3xl text-gray-900 mb-2">{{title}}</h1>
                    <img class="mt-4 mb-4" src="{{featimg}}">
                    <p class="text-center text-base  text-gray-500">
                        <time> {{ date | readableDate }}
                            by
                            <a>{{ author }}</a>

                        </time>
                    </p>

                
                <article class="lg:prose-xl my-4 mx-auto">
                    {{ content | safe }}
                </article>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div style="height: 800px; background-color: #fafafa; color: #d2d2d2; padding: 3em;" class="sidebar">
                Sidebar
            </div>
        </div>
    </div>
</div>




