---
layout: blog
title: Technical Blog
---




<section class="mt-15">
    
            
            
                
                {% set postslist = collections.post %}
            
                {% for post in postslist | reverse %}
                    <article style="border-bottom: 1px solid #e7e7e7" class="my-8 pb-3 ">
                        <h2 class="blog-title font-bold text-3xl text-gray-900 mb-2">
                            <a href="{{ post.url | url }}">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </a>
                        </h2>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{ post.url | url }}">
                                    {% if post.data.featimg %}
                                        <img class="mt-2" src="{{ post.data.featimg }}">
                                    {% else %}
                                        <img class="mt-2" style="padding: 50px 10px; border: 1px solid #e7e7e7" src="https://dtpthermoelectrics.com/static/img/DTPThermoelectrics_Logo2020_Blue.png.png">
                                    <!-- path: {{ post.data.featimg }} -->
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <p class="text-base leading-6 text-gray-500 mb-3">
                                    <time class="text-sm">
                                        {{ post.date | readableDate }}
                                        by
                                        <a>{{ post.data.author }}</a>
                    
                                    </time>
                                </p>
                                {% if post.data.description %}
                                    <p class="text-lg text-gray-500 mb-3">
                                        {{ post.data.description }}
                                    </p>
                                {% endif %}
                    
                                <p style="text-align: right;">
                                    <a  href="{{ post.url | url }}" class=" font-bold text-lg">
                                        Read more →
                                    </a>
                                </p>

                            </div>
                        </div>
                        
            
                    </article>
                {% endfor %}
         
</section>