---
layout: default
title: DTP Home
path: home
---

<div class="home-hero">
  <div style="height: 100%" class="container d-flex flex-column justify-content-end">
    <h1>Lorem Ipsum <span>Headline</span></h1>
    <h4>Lorem ipsum dolor elit, sed do eiusmod lorem tempor incididunt ut labore et dolore magna et sid aliqua.</h4>
  </div>
  
</div>
<div class="gradient-bar"></div>
<section class="about-intro">
  <div class="container">
      <h2 class="about-intro-h2" style="text-align: center;">We Are <span>DTP THERMOELECTRICS</span></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
      
  </div>
</section>

<section class="team-section">
  <div class="container">
      <!-- <h2 class="about-intro-h2" style="text-align: center;"><span>Our Team</span></h2> -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img src="/static/img/home-hero.png">
        </div>
        <div class="col-md-6 col-sm-6 d-flex flex-column justify-content-center">
          <h2 class="home-h2"><span>Revolutionary</span> Thermoelectric Technology</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim, quis nostrud laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="btn btn-light" style="max-width: 200px" href="#">Read More</a>
        </div>
      </div>
  </div>
</section>

<section class="pre-apps">

</section>

<section class="applications-section">
  <div class="container">
    <div id="app">
      <h2 class="about-intro-h2" style="text-align: center;"><span>APPLICATIONS</span></h2>
      <div class="filter-choices">
        <span v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
        <span  v-bind:class="{ active: currentFilter === 'Automotive' }" v-on:click="setFilter('Automotive')">Automotive</span>
        <span  v-bind:class="{ active: currentFilter === 'Cold Chain' }" v-on:click="setFilter('Cold Chain')">Cold Chain</span>
        <span  v-bind:class="{ active: currentFilter === 'Medical' }" v-on:click="setFilter('Medical')">Medical</span>
        <span  v-bind:class="{ active: currentFilter === 'Electronics' }" v-on:click="setFilter('Electronics')">Electronics</span>
        <span  v-bind:class="{ active: currentFilter === 'Opto-Electric' }" v-on:click="setFilter('Opto-Electric')">Opto-Electronic</span>
        <span  v-bind:class="{ active: currentFilter === 'Battery' }" v-on:click="setFilter('Battery')">Battery</span>
      </div>
      <div class="row">
        
          <div v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.category" v-for="project in projects" class="col-md-4 mb-3">
            <a href="/applications"><img v-bind:src="project.image"></a>
          </div>
          
        
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div id="app">
      <div class="title-container">
        <div>
          <h3 class="title">
            Our Projects
          </h3>
        </div>
        <div class="filter-choices">
          <span v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
          <span  v-bind:class="{ active: currentFilter === 'ART' }" v-on:click="setFilter('ART')">ART</span>
          <span  v-bind:class="{ active: currentFilter === 'WORKSHOPS' }" v-on:click="setFilter('WORKSHOPS')">WORKSHOPS</span>
          <span  v-bind:class="{ active: currentFilter === 'FUN' }" v-on:click="setFilter('DOODLES')">DOODLES</span>
        </div>
      </div>
    
      <transition-group class="projects" name="projects" >
        <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="project in projects">
          <div class="project-image-wrapper">
            <img class="project-image" v-bind:src="project.image">
            <div class="gradient-overlay"></div>
            
          </div>
        </div>
      </transition-group>
    </div>
  </div> -->
</section>

<!-- <div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="netlify cms, eleventy, alpine js & tailwind css">NEAT</abbr>
    Starter Template. Get Started by editing.
    <code class="bg-gray-100 text-blue-800 p-1">/index.njk</code>
  </p>

  {% include "./_includes/partials/content.html" %}
</div> -->