---
layout: default
title: DTP Home
path: home
---

<div class="home-hero">
  <div style="height: 100%" class="container d-flex flex-column justify-content-end">
    <h1>Advancing <span>Thermoelectrics</span></h1>
    <h4>A new approach to solid-state thermal management</h4>
  </div>
  
</div>
<div class="gradient-bar"></div>
<section class="about-intro">
  <div class="container">
      <h2 class="about-intro-h2" style="text-align: center;">We Are <span>DTP Thermoelectrics</span></h2>
      <p>
        If you think thermoelectric technology has reached its limits, think again. Our patented <em>distributed transport properties</em> (DTP) approach to thermoelectric systems delivers dramatic increases in heating and cooling efficiency and capacity. These advances make DTP&#39;s solid-state thermal management an efficient, sustainable, high-performance, cost-effective solution for many thermal management applications. 
      </p>
      <p style="text-align: center"><a class="btn btn-light" href="/our-technology">Learn more about our technology&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></p>
      
  </div>
</section>

<section class="team-section">
  <div class="container">
      <!-- <h2 class="about-intro-h2" style="text-align: center;"><span>Our Team</span></h2> -->
      <div class="row">
        <div class="col-md-7 col-sm-7">
			<p class="chart-title">DTP Versus Conventional Thermoelectrics</p>
          <img class="img-fluid" src="/static/img/DTP_Cascade_Chart.png" alt="DTP Cascade Chart">
        </div>
        <div class="col-md-5 col-sm-5 d-flex flex-column justify-content-center">
          <h2 class="home-h2"><span>Revolutionary</span> Thermoelectrics</h2>
          <p style="color: #7d7d7d; font-size: 17px;">Conventional thermoelectric systems can already cool, heat or generate power—just not as well as our patented DTP thermoelectric technology. DTP stands for <strong>distributed transport properties</strong>, which describes functionally graded materials whose key thermoelectric properties vary spatially through the material. Thermoelectric systems based on DTP materials show significant gains in cooling and heating capacity and efficiency, opening up new possibilities for solid-state thermal management in electric vehicles, cold chain logistics, medical devices and many more applications.</p>
          <a class="btn btn-light mt-3" style="max-width: 400px" href="/our-technology">Learn more about DTP technology&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
  </div>
</section>

<section class="pre-apps">

</section>

<section class="applications-section">
  <div class="container">
    <div id="app">
      <h2 class="about-intro-h2" style="text-align: center;"><span>Applications</span></h2>
      <!-- Filters for Apps Here-->
      <div class="filter-choices">
        <span v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
        <span  v-bind:class="{ active: currentFilter === 'Automotive' }" v-on:click="setFilter('Automotive')">Automotive</span>
		<span  v-bind:class="{ active: currentFilter === 'Medical' }" v-on:click="setFilter('Medical')">Medical</span>
        <span  v-bind:class="{ active: currentFilter === 'Cold Chain' }" v-on:click="setFilter('Cold Chain')">Cold&nbsp;Chain</span>
        <span  v-bind:class="{ active: currentFilter === 'Electric Propulsion' }" v-on:click="setFilter('Electric Propulsion')">Electric&nbsp;Propulsion</span>
        <span  v-bind:class="{ active: currentFilter === 'Smart Buildings' }" v-on:click="setFilter('Smart Buildings')">Smart&nbsp;Buildings</span>
        <span  v-bind:class="{ active: currentFilter === 'Electronic and Opto-Electronics' }" v-on:click="setFilter('Electronics and Opto-Electronics')">Electronics&nbsp;and&nbsp;Opto&#8209;Electronics</span>
      </div>
      <div class="row">
        
          <div v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.category" v-for="project in projects" class="col-md-4 mb-3 applications-container">
            <a :href="'/applications' + '#' + project.link" >
              <div class="applications-overlay">
                <div class="applications-content">
                  <i class="fas fa-plus"></i>
                  <h3 v-html="project.category"></h3>
                </div>
              </div>
              <img v-bind:src="project.image">
            </a>
          </div>
          
        
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div id="app">
      <div class="title-container">
        <div>
          <h3 class="title">
            Our Projects
          </h3>
        </div>
        <div class="filter-choices">
          <span v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
          <span  v-bind:class="{ active: currentFilter === 'ART' }" v-on:click="setFilter('ART')">ART</span>
          <span  v-bind:class="{ active: currentFilter === 'WORKSHOPS' }" v-on:click="setFilter('WORKSHOPS')">WORKSHOPS</span>
          <span  v-bind:class="{ active: currentFilter === 'FUN' }" v-on:click="setFilter('DOODLES')">DOODLES</span>
        </div>
      </div>
    
      <transition-group class="projects" name="projects" >
        <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="project in projects">
          <div class="project-image-wrapper">
            <img class="project-image" v-bind:src="project.image">
            <div class="gradient-overlay"></div>
            
          </div>
        </div>
      </transition-group>
    </div>
  </div> -->
</section>
<section class="enews-cta">
  <div class="container">
    <div class="row">
      <div style="display: flex; align-items: center;" class="col-lg-6">
        <h2 class="enews-h2">Sign Up For Our Newsletter</h2>
      </div>
      <div style="display: flex; align-items: center;" class="col-lg-6">
        <script type="text/javascript" src="https://form.jotform.com/jsform/203627673178160"></script>


      </div>
    </div>
  </div>
</section>
<div class="gradient-bar"></div>

<!-- <div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="netlify cms, eleventy, alpine js & tailwind css">NEAT</abbr>
    Starter Template. Get Started by editing.
    <code class="bg-gray-100 text-blue-800 p-1">/index.njk</code>
  </p>

  {% include "./_includes/partials/content.html" %}
</div> -->