<section class="pre-footer-section">
    <div class="container">
        <div>
            <img style="max-width: 363px; width: 100%" src="/static/img/DTPThermoelectrics_Logo2020_Blue.png.png">
        </div>
        <div class="row mt-4">
            <div class="pl-4 col-md-8 mb-2">
                <p><a href="tel:800-834-9906" target="_blank"><i class="fas fa-phone-alt"></i> 800-834-9906</a></p>
                <p><i class="fas fa-map-marker-alt"></i> 1819 N. Grand Oaks Avenue, Altadena, CA 91001</p>
                <p><a href="https://dtpthermoelectrics.com" target="_blank"><i class="fas fa-globe"></i> dtpthermoelectrics.com</a></p>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="/our-technology">Our Technology</a></li>
                    <li><a href="/applications">Applications</a></li>
                    <!-- <li><a href="/contact-us">Contact Us</a></li> -->
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="/about">About DTP</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
                
               
            </div>
        </div>
    </div>

</section>
<footer class="bottom-0 text-center w-full py-4">
    <small>
        ©2021 DTP Thermoelectrics, LLC. All rights reserved.
    </small>
</footer>